<div *ngIf="isLoading">
  <p>Chargement en cours</p>
</div>

<div *ngIf="errorMessage">
  <p>{{errorMessage}}</p>
</div>

<div *ngIf="!isLoading && article" class="article-detail">
  <div class="header">
    <button mat-icon-button class="back-button" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="article-title">{{article?.titre}}</h2>
  </div>
  <div class="article-info">
    <p class="date-author">{{article?.created_at | date:'short'}} | {{article?.auteur}} | {{article?.themeName}}</p>
  </div>
  <div class="article-content">
    <p>{{article?.contenu}}</p>
  </div>

  <hr class="separator"/>

</div>
<div class="comment-section">
  <h2 class="comment-title">Commentaires</h2>

  <div *ngFor="let comment of comments" class="comment-container">
    <span class="username">{{comment.username || 'Utilisateur inconnu'}}</span>
    <div class="comment-box">
      <p class="comment-text">{{comment.comment}}</p>
    </div>
  </div>

  <form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="comment-form">
    <textarea formControlName="content" placeholder="Contenu du commentaire"></textarea>
    <button type="submit" [disabled]="commentForm.invalid" mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </form>


</div>
