<div *ngIf="user; else loading">
  <h2 class="profile-title">Profil utilisateur</h2>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
    <mat-form-field class="form-field">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="newEmail" required>
    </mat-form-field>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="password-form">
    <mat-form-field class="form-field">
      <mat-label>Mot de passe actuel</mat-label>
      <input matInput formControlName="currentPassword" type="password" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput formControlName="newPassword" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid" class="update-button">
      Mettre à jour le profil
    </button>
  </form>

  <button mat-raised-button color="warn" class="logout-button" (click)="logout()">Se déconnecter</button>

  <hr class="separator" />

  <div class="abonnements">
    <h2 class="subscription-title">Abonnements</h2>
    <div class="themes-container">
      <ng-container *ngIf="subscribedThemes?.length; else emptyThemes">
        <mat-card *ngFor="let theme of subscribedThemes; let i = index" class="theme-card">
          <mat-card-header>
            <mat-card-title>
              {{theme.name}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="side-by-side">
              <p>{{theme.description}}</p>
            </div>
            <button mat-raised-button color="primary" (click)="unsubscribe(theme.id, user.id)">
              <span>Se désabonner</span>
            </button>
          </mat-card-content>
          <div *ngIf="(i + 1) % 2 === 0" class="spacer"></div>
        </mat-card>
      </ng-container>
      <ng-template #emptyThemes>
        <p>Aucun abonnement pour le moment</p>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Chargement des informations...</p>
</ng-template>
