<div class="app">
  <mat-toolbar class="header" *ngIf="$isLogged() | async; else notLogged">
    <img class = "small_logo" src="../../../../../assets/logo_p6.png" alt="logo" />
    <div class="links">
      <span routerLink="articles" class="link">Articles</span>
      <span routerLink="themes" class="link">Thèmes</span>
      <mat-icon routerLink="auth/me" class="link">account_circle</mat-icon>
    </div>
  </mat-toolbar>
  <ng-template #notLogged></ng-template>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
