.app {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .link {
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .small_logo {
    width: 150px;
    height: auto;
    max-width: 100%;
  }

  .mat-icon {
    font-size: 25px;
  }
}
