.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.single-button {
  margin: 40px;
}
